<form action="/cars" method="post">
  <label for="carDetails">Add a new car</label>
  <input id="carDetails" name="carDetails" type="text">
  <label for="carMake">Add a make</label>
  <input id="carMake" name="carMake" type="text">
  <label for="miles">Add the miles</label>
  <input id="miles" name="miles" type="text">
  <label for="price">Add the price</label>
  <input id="price" name="price" type="text">
  <button type ="submit" class="btn btn-primary">Submit</button>

  <a href="/">Go back to Homepage</a>
</form>