<h1>Welcome to Deals 'R Us: Used Car Dealership</h1>
<h4><a href='/cars/new'>Add a new car to inventory</a></h4>
<h4><a href='/cars'>See list of available cars</a></h4>
<h4><a href='/cars/sale'>Find a car to fit your budget</a></h4>